

<div class="container" *ngIf="router.url === '/login'">

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <input matInput type="text" placeholder="Email" formControlName="Email" />
    </mat-form-field>

    <br />

    <mat-form-field appearance="outline" >
      <input matInput type="password" placeholder="Password" formControlName="Password" />
    </mat-form-field>

    <br />

    <div *ngIf="form['Password'].errors && submitted">
      <div *ngIf="form['Password'].hasError('matchCreds')" style="color:red; margin-bottom:1vh">Your credentials are incorrect</div>
    </div>


      <button mat-raised-button color="warn">Login</button>
  </form>

</div>
