

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" *ngIf="router.url === '/login'">
  <input type="text" placeholder="Email" formControlName="Email" />
  <div *ngIf="form['Email'].errors && submitted">
    <div *ngIf="form['Email'].hasError('required')">Email is required</div>
  </div>
  <br /><br />
  <input type="password" placeholder="Password" formControlName="Password" />
  <div *ngIf="form['Password'].errors && submitted">
    <div *ngIf="form['Password'].hasError('required')">Password is required</div>
    <div *ngIf="form['Password'].hasError('matchCreds')">Your credentials are incorrect</div>
  </div>

  <button>Login</button>
</form>
